.Item {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 1px;
    position: relative;
    cursor: pointer;
    vertical-align: top;
}

.Item i{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}